.InnerContainer {
    display: flex;
    justify-content: space-between;
  }

.bright {
    background-color: #999999;
    width: 100%;
  }
.dark {
    background-color: #dddddd;
    width: 100%;
  }
.card {
    margin-bottom: 5px;
  }
.card-footer-item {
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
  }
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.7s
  }
.fade-enter, .fade-leave-to {
    opacity: 0
  }
.done { 
  text-decoration: line-through; 
  }

@media screen and (max-width: 480px) {
  .InnerContainer {
    display: block;
  }
}